.experience-card{
background: #629C95;
}

.armor-card{
    background: #ACA686;
}

.health-card{
    background: #C64C47;
}

.ration-card{
    background: #BE785A;
}

.gold-card{
    background: #CDB35A;
}

.potion-card{
    background: #8F7094;
}