.experience-card{
background: #629C95;
}

.armor-card{
    background: #ACA686;
}

.health-card{
    background: #C64C47;
}

.ration-card{
    background: #BE785A;
}

.gold-card{
    background: #CDB35A;
}

.potion-card{
    background: #8F7094;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    margin-bottom: 1rem;
}
.css-46bh2p-MuiCardContent-root:last-child{
    padding: 0.2rem;
}
h2, h3, p{
    padding: 0.5rem;
    margin: 0.5rem;
}
