p{
    margin: 2rem;
    text-align: left;
}
ul{
    margin: 2rem;
    text-align: left;
    li{
        list-style: none;
    }
}
.footer{
    font-size: small;
    
    margin: 2rem;
}